@model  HospitalProject.Models.JobDto
@{
    ViewBag.Title = "List";
}
<a href="/Job/List">Return to Careers</a>

 <h2>@Model.JobTitle, @Model.JobType</h2>
    <p>Posted on @Model.JobPublishDate</p>
    <p>Department: @Model.JobDepartment</p>
    <p>Location: @Model.JobLocation</p>


    <br />
    <p>@Model.JobDescription</p>
    <br />

    <p>Apply before the deadline at @Model.JobDeadline</p>
    <a href="/Submissions/New">Apply</a>

